/* 商品の概要 */

.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 40vw;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 40vh;
  width: 40vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 10px 0px;
  align-items: center;
  flex-direction: row;
  display: flex;
  align-items: baseline;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  text-align: center;
}

.comment-text {
  width: 80%;
  height: 85px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  margin-top: 20px;
  display: block;
}

.comment-warn {
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
  color: #333333;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.comment {
  background-color: #fff;
  width: 80%;
  border: 1px solid;
  border-color: #d3d3d3;
  margin-top: 20px;
  margin-bottom: 80px;
}

.comments-title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-top: 60px;
  text-align: left;
}

.comments-index {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: left;
}

p.user-info {
  font-weight: bolder;
  text-align: left;
  padding: 10px;
}

.time {
  color: #666666;
  text-align: right;
  padding: 10px;
}

.text {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}


input.comment-submit {
  margin-bottom: 20px;
  padding: 3px 10px;
}

.favorite-box {
  display: flex;
  align-items: baseline;
}

.item-area {
  display: flex;
}

.text-area {
  margin-left: 100px;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment-submit-wrap {
  width: 80%;
}

.item-price-mark {
  margin-right: 5px;
}

span.item-postage {
  margin-left: 5px;
}

.contents-area {
  display: contents;
}

.item-explain-box-title {
  font-size: 24px;
  font-weight: bold;
  color: #7d7d7d;
  margin-top: 60px;
  margin-bottom: 15px;
}

div#like-btn {
  margin-bottom: 25px;
}